@import "tailwindcss";

:root {
  --primary: 263, 70%, 58%;
  --accent: 195, 100%, 50%;
}

.logo {
  padding: 3px;
  border-radius: 57px;
  width: 54px;
  height: 55px;
  padding-top: 10px;
}
.input {
  border: 2px solid #272727bf;
  background-color: black;
}
.input:focus {
  outline: 3px solid hsl(263 70% 58%);
}
.but {
  transition: all 0.5s ease;
  width: 112px;
}
.but:hover {
  border: 2px solid hsl(263 70% 58%);
}
.buts {
  border: 2px solid rgb(41, 41, 41);
}
.buts:hover {
  border: 2px solid hsl(263 70% 58%);
}
.cards:hover.ani {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
